.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  color: var(--blue);
}

.screen-header__title {
  font-size: 45px;
  font-weight: 600;
  color: var(--blue);
}

.screen-header__icons span {
  margin-left: 20px;
  position: relative;
}
.screen-header__icons {
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog {
  animation: rotateCog 2s linear infinite;
}
